services:

  backend:
    build: ./backend
    environment:
      SPRING_PROFILES_ACTIVE: prod
    volumes:
      - h2data:/data
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  h2data: